<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" debug="true">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width = device-width, initial-scale = 1.0"> 

    <meta name="author" content="Dmitry Semenov">
    <link rel="canonical" href="{{page.canonical_url}}">

    <meta property="og:url" content="{{page.canonical_url}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="http://photoswipe.com/test/horizontal-swipe.jpg">

    <link href="https://plus.google.com/102586375605352607718" rel="publisher" />

  {% if page.markdownpage == true %}
    <link rel="icon apple-touch-icon" href="../test/apple-touch-icon-144x144.png" sizes="144x144" type="image/png">
    <link href="../site-assets/site.css?v=web-{{site.pswpversion}}-{{site.siteversion}}" rel="stylesheet" />
    
  {% else %}
    <link rel="icon apple-touch-icon" href="test/apple-touch-icon-144x144.png" sizes="144x144" type="image/png">
    <link href="site-assets/site.css?v={{site.pswpversion}}-{{site.siteversion}}" rel="stylesheet" />
    <link href="dist/photoswipe.css?v={{site.pswpversion}}-{{site.siteversion}}" rel="stylesheet" />
    <link href="dist/default-skin/default-skin.css?v={{site.pswpversion}}-{{site.siteversion}}" rel="stylesheet" />
    
    {% if site.url == 'local' %}
      <script>
        document.write('<script src=dist/photoswipe.js?r='+Math.random()+'><\/script>');
        document.write('<script src=dist/photoswipe-ui-default.js?r='+Math.random()+'><\/script>');
      </script>  
    {% else %}
      <script src="dist/photoswipe.min.js?v={{site.pswpversion}}-{{site.siteversion}}"></script>
      <script src="dist/photoswipe-ui-default.min.js?v={{site.pswpversion}}-{{site.siteversion}}"></script>
    {% endif %}

   
  {% endif %}

    
    <script src="//use.typekit.net/snf1yod.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

      <!--[if lt IE 9]>
       <script>
          document.createElement('figure');
       </script>
      <![endif]-->
  </head>

  <body>


    {% if page.markdownpage == true %}
      
      <div class="section docs"><div class="row row--docs">

      <a class="docs-logo" href="http://photoswipe.com">PhotoSwipe</a>

      <h1>{{ page.h1_title || page.title }}</h1>

      {% include menu.html %}

      

    {% else %}
    {% endif %}


    {{ content | markdown }}


    {% if page.markdownpage == true %}

    <p style="
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
    "><span title="Coded">&lt;/&gt;</span> with <span title="love">&lt;3</span> in <a class="ukraine-flag" href="http://en.wikipedia.org/wiki/Ukraine" title="Ukraine"></a> by <a href="http://twitter.com/dimsemenov">@dimsemenov</a></p>


    </div></div>

    <script>
      // Disable codepens on small screens, sort of.
      if(screen.width && screen.width < 1200 ) {
        var els = document.querySelectorAll('.codepen-embed');

        for (i = 0; i < els.length; ++i) {
          els[i].className += " codepen-embed--disabled";
        }
      } else {
        document.write('<script src="//assets.codepen.io/assets/embed/ei.js"><' + '\/script>');
      }
    </script>
  


    {% else %}
    {% endif %}

    {% if site.url != 'local' %}



    <!-- analytics -->
    <script>
    (function() {

      var url = window.location.href.toLowerCase();
      if(url.indexOf('photoswipe') === -1) {
        return;
      } 

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49016964-1', 'photoswipe.com');
      ga('send', 'pageview');

      function trackJavaScriptError(e) {
        e = e || window.event;
        if(!e || !e.message || !e.lineno){ 
          return true; 
        }
        var errMsg = e.message;
        var errSrc = e.filename + ': ' + e.lineno;
        ga('send', 'event', 'JavaScript Error', errMsg, errSrc, { 'nonInteraction': 1 });
      }

      if (window.addEventListener) {
        window.addEventListener('error', trackJavaScriptError, false);
      } else if (window.attachEvent) {
        window.attachEvent('onerror', trackJavaScriptError);
      } else {
        window.onerror = trackJavaScriptError;
      }


      (function (d, w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter24301471 = new Ya.Metrika({id:24301471,
                          webvisor:false,
                          clickmap:false});
              } catch(e) { }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
          s.type = "text/javascript";
          s.async = true;
          s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else { f(); }
      })(document, window, "yandex_metrika_callbacks");

    })();
    </script>
    {% endif %}




  </body>
</html>