.toc .toggleNav {
    border-right: 1px solid #e0e0e0;
}


.toc .toggleNav .navGroup .navGroupCategoryTitle {
    opacity: 0.5;
}
.toc .toggleNav ul {
    padding: 0;
}



.toc .toggleNav .navGroup .navGroupCategoryTitle,
.toc .toggleNav ul li a {
    font-size: 16px;
    letter-spacing: -0.011em;
    line-height: 22px;
}

.toc .toggleNav ul li.navListItemActive a {
    color: #282B30;
}

.toc .toggleNav ul li a {
    color: #1B57A5;
    transition: none;
}
.toc .toggleNav ul li a:hover {
    color: #c00;
}