/* When page changes or reloads there is a slight jump, 
code on this page tries to fix this issue. */
body {
    overflow-y: scroll;
}

.docMainWrapper .mainContainer,
.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
    max-width: 100%;
}

@media only screen and (min-width: 1024px) {
    .docMainWrapper .mainContainer,
    .separateOnPageNav.sideNavVisible .navPusher .mainContainer {
        /* 592px: two sidebars 240px each, 4 horizontal margins 28px each */
        max-width: 772px;
    }
}