input#search_input_react {
  

  font-size: 16px;
  letter-spacing: -0.011em;
  line-height: 22px;
  font-weight: 400;

  background-color: #f1f1f1 !important;
  border-radius: 4px !important;
  padding: 8px 12px !important;
}
input#search_input_react,
input#search_input_react:focus,
input#search_input_react::placeholder { 
  color: #282B30;
}
input#search_input_react:focus {
  box-shadow: inset 0px 0px 0px 2px rgba(27, 87, 165, 0.4)
}

/* hide search icon */
.navSearchWrapper:before,
.navSearchWrapper:after {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .reactNavSearchWrapper input#search_input_react {
      margin-top: -8px;
  }
}

