a.navbar__brand {
  text-decoration: none;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;
  transform: translate(0, -2px);
}
a.navbar__link {
  color: var(--ifm-link-color);
  text-decoration: none;
}
a.navbar__link--active {
  color: var(--ifm-font-color-base);
}
.navbar__link svg {
  display: none;
}

a.pswp-docs__github-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
  font-weight: var(--ifm-font-weight-semibold);
}
a.pswp-docs__github-link:hover {
  text-decoration: none;
}
.pswp-docs__github-link svg {
  transform: translate(0, 2px);
  margin-right: 3px;
}
.pswp-docs__github-link-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 2px 8px;
  border: 1px solid #D5D5D5;
}
.pswp-docs__github-link-right {
  background: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 2px 8px;
  border: 1px solid #D5D5D5;
  border-left: 0;
  color: #222;
}

.navbar__brand span {
  font-size: 12px;
  margin-left: 4px;
  margin-top: -12px;
  line-height: 1;
}
button.DocSearch {
  --docsearch-searchbox-background: #e9e9e9;
  --docsearch-primary-color: var(--ifm-link-color);
  --docsearch-text-color: #222;
  --docsearch-muted-color: #222;
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
  --docsearch-highlight-color: var(--ifm-link-color);
  height: 35px;
}
button .DocSearch-Button-Placeholder {
  font-size: 16px;
  font-weight: 400;
}
button .DocSearch-Button-Keys {
  display: none !important;
}