.pswp-docs__home .navbar__brand {
  display: none;
}
.pswp-docs__header-title-text {
  margin: 60px 0px 50px;
  font-size: 22px;
  text-align: center;
}
.pswp-docs__whats-new {
  margin-top: 50px;
}
.pswp-docs__whats-new h4 {
  margin: 50px auto 12px;
  font-size: 24px;
}

.pswp-docs__home-block-main-col > * {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.pswp-docs__home-block-full-width-col {
  max-width: 1068px;
}



.pswp-docs__header-title-text a svg {
  display: inline-block;
  width: 16px;
  fill: var(--ifm-link-color);
  transform: translate(0px, 3px);
  margin-left: 0.2em;
}
.pswp-docs__header-title-text a:hover svg {
  fill: var(--ifm-link-hover-color);
}


.pswp-docs__header-title-text a {
  font-weight: bold;
  text-decoration: none;
}

.pswp-docs__header-title-text h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 14px;
}

.pswp-docs__header-title-text h1 span {
  position: absolute;
  vertical-align: super;
  font-size: 16px;
  text-decoration: none;
}

.pswp-docs__header-title-text p {
  margin-bottom: 0;
}




.pswp-docs__home-gallery {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-gap: 10px;
}
.pswp-docs__home-gallery-credit {
  position: absolute;
  right: 0;
  bottom: -21px;
  font-size: 12px;
}
.pswp-docs__home-gallery .pswp-docs__home-gallery-item {
  position: relative;
}
figure.pswp-docs__home-gallery-item {
  display: block;
  margin: 0;
  padding: 0;
}
.pswp-docs__home-gallery-item figcaption {
  display: none;
}

.pswp-docs__home-gallery .pswp-docs__home-gallery-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pswp-docs__home-gallery .pswp-docs__home-gallery-item:first-child {
  grid-row: span 2;
}
.pswp-docs__home-gallery .pswp-docs__home-gallery-item a {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
}


.pswp-docs__home-gallery-example {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.pswp-docs__home-gallery-example a {
  position: relative;
  margin: 0 4px 4px 0;
  line-height: 0;
  display: block;
}
.pswp-docs__home-gallery-example img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: none;
}

.pswp-docs__home-block h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.1;
  margin: 70px auto 36px;
}

.pswp__dynamic-caption {
  font-size: 14px;
  line-height: 1.5;
}

#gallery--deep-zoom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}
#gallery--deep-zoom figure {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 4px;
  min-width: 100px;
  max-width: 180px;
}
@media (max-width: 900px) {
  .pswp__dynamic-caption.pswp__dynamic-caption--aside {
    margin-top: 0;
  }
}
@media (max-width: 700px) {
  #gallery--deep-zoom {
    max-width: 296px;
  }
}



#gallery--deep-zoom figure:last-child {
  margin-right: 0;
}
#gallery--deep-zoom figure > a {
  display: block;
  position: relative;
}
#gallery--deep-zoom img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
figcaption.caption {
  font-size: 12px;
  margin-top: 6px;
}



@media (max-width: 650px) {
  .pswp-docs__home-gallery {
    grid-gap: 5px;
  }
  .pswp-docs__header-title-text h1 {
    font-size: 36px;
  }
  .pswp-docs__header-title-text {
    margin: 40px 0px 30px;
    font-size: 18px;
    text-align: center;
  }
  .pswp-docs__home-block h2 {
    font-size: 26px;
    margin: 40px auto 12px;
  }
  .pswp-docs__whats-new h4 {
    margin: 24px auto 12px;
    font-size: var(--ifm-font-size-base);
  }
  #gallery--deep-zoom {
    max-width: 296px;
  }
}